#masthead {
    position: fixed;
    height: calc(100% - 2em);
    overflow-y: auto;
    left: 0;
    top: 0;
    width: 360px;

    background-color: #242930;
    color: #afbac4;
    text-align: center;
    padding-top: 10vh;
}

#masthead a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#masthead a:hover {
    color: #57cc8a;
}

#portrait {
    width: 130px;
    border-radius: 75px;
}

#portrait-link:hover img {
    box-shadow: 0 0 40px #57cc8a;
}

#headline {
    font-size: 1.8em;
    line-height: 1.1;
    margin: 1em 0 0 0;
}

#description {
    margin: 0;
    font-size: 0.75em;
    line-height: 1.1;
}

#navmenu {
    list-style-type: none;
    padding: 0;
    margin: 2em 0;
    line-height: 1;
}

#navmenu li {
    padding-bottom: 1em;
}

#social svg {
    fill: white;
    width: 32px;
    height: 32px;
}

#social a:hover svg {
    fill: #57cc8a;
}

#social a + a {
    margin-left: 1em;
}

@media(max-width: 64em) {
    header#masthead {
        position: relative;
        width: 100%;
        padding-top: 0;

        text-align: left;
    }

    #portrait-link {
        float: left;
        margin: 1em 0 0 1em;
    }

    #portrait-link:hover img {
        box-shadow: 0 0 20px #57cc8a;
    }

    #portrait {
        width: 65px;
    }

    #headline-and-description-block {
        display: table-cell;
    }

    #headline {
        font-size: 1.2em;
        margin: 1.25em 0 0 10px;
    }

    #description {
        margin: 0 0 0.25em 10px;
    }

    #navbar {
        clear: both;
        padding-top: 0.5em;
    }

    #navmenu {
        list-style: none;
        margin: 0;
        border-top: solid 1px #afbac4;
        padding: 0.5em 0;
    }

    #navmenu li {
        display: inline-table;
        width: 24%;
        text-align: center;
        padding: 0;
    }

    #social {
        display: none;
    }
}

main {
    float: right;
    width: calc(100% - 360px);
}

@media(max-width: 64em) {
    main {
        width: 100%;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    color: #494e52;
    margin: 0;

    font-size: 22px;
    line-height: 1.5;
}

::-moz-selection {
    background-color: #b3d4fc;
}

::selection {
    background-color: #b3d4fc;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.2;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.2em;
}

main article {
    margin: 0 0.5em 0 0.5em;
    font-size: 0.9em;
}

main article time {
    font-size: 0.85em;
    color: #afbac4;
    line-height: 1.1;
}

img {
    max-width: 100%;
}

main article code[class*="language-"] {
    border-radius: 0;
}

main a {
    color: #52adc8;
    text-decoration: none;
}

main a:hover {
    color: #3e8296;
    text-decoration: underline;
}

blockquote {
    border-left: 0.25em solid #7a8288;
    font-style: italic;
    /*margin: 2em 1em 2em 0;*/
    padding-left: 1em;
    padding-right: 1em;
    background-color: #f5f2f0;
}

@media(max-width: 64em) {
    body {
        font-size: 18px;
    }
}
