---
layout: article.html
---

<p>
	This article is part of a series on working with the
	<a href="https://github.com/aws/aws-cdk" target="_blank">Cloud Development Kit</a>:
</p>

<ul>
	<li>
		{{#if (notEqual id 47)}}
		<a href="/cdk-tips-01-how-to-use-local-cdk-commands">
		{{/if}}

			Part 1 – local CLI version

		{{#if (notEqual id 47)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 49)}}
		<a href="/cdk-tips-02-how-to-contribute-to-the-cdk">
		{{/if}}
			
			Part 2 – contributing code to the CDK
		
		{{#if (notEqual id 49)}}
		</a>
		{{/if}}
	</li>
	
	<li>
		{{#if (notEqual id 51)}}
		<a href="/cdk-tips-03-how-to-unblock-cross-stack-references">
		{{/if}}

			Part 3 – how to unblock cross-stack references
		
		{{#if (notEqual id 51)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 53)}}
		<a href="/cdk-tips-04-how-to-migrate-from-cloudformation-to-cdk">
		{{/if}}

			Part 4 – migrating from CloudFormation to CDK

		{{#if (notEqual id 53)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 55)}}
		<a href="/cdk-tips-05-have-a-stack-instance-per-deployed-stack">
		{{/if}}

			Part 5 – organizing your Stack instances
		
		{{#if (notEqual id 55)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 59)}}
		<a href="/cdk-tips-06-speeding-up-cdk-application-development">
		{{/if}}

			Part 6 – speeding up CDK application development

		{{#if (notEqual id 59)}}
		</a>
		{{/if}}
	</li>
</ul>

<hr class="parts-separator">

    {{{ contents }}}

<hr class="parts-separator">

<p>
	This article is part of a series on working with the
	<a href="https://github.com/aws/aws-cdk" target="_blank">Cloud Development Kit</a>:
</p>

<ul>
	<li>
		{{#if (notEqual id 47)}}
		<a href="/cdk-tips-01-how-to-use-local-cdk-commands">
		{{/if}}

			Part 1 – local CLI version

		{{#if (notEqual id 47)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 49)}}
		<a href="/cdk-tips-02-how-to-contribute-to-the-cdk">
		{{/if}}
			
			Part 2 – contributing code to the CDK
		
		{{#if (notEqual id 49)}}
		</a>
		{{/if}}
	</li>
	
	<li>
		{{#if (notEqual id 51)}}
		<a href="/cdk-tips-03-how-to-unblock-cross-stack-references">
		{{/if}}

			Part 3 – how to unblock cross-stack references
		
		{{#if (notEqual id 51)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 53)}}
		<a href="/cdk-tips-04-how-to-migrate-from-cloudformation-to-cdk">
		{{/if}}

			Part 4 – migrating from CloudFormation to CDK

		{{#if (notEqual id 53)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 55)}}
		<a href="/cdk-tips-05-have-a-stack-instance-per-deployed-stack">
		{{/if}}

			Part 5 – organizing your Stack instances
		
		{{#if (notEqual id 55)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 59)}}
		<a href="/cdk-tips-06-speeding-up-cdk-application-development">
		{{/if}}

			Part 6 – speeding up CDK application development

		{{#if (notEqual id 59)}}
		</a>
		{{/if}}
	</li>
</ul>
