---
layout: article.html
---

<p>
	This article is part of a series on working with the
	<a href="https://github.com/aws/aws-cdk" target="_blank">Cloud Development Kit</a>:
</p>

<ul>
	<li>
		<a href="/cdk-tips-01-how-to-use-local-cdk-commands">
			Part 1 – local CLI version
		</a>
	</li>
	<li>
		<a href="/cdk-tips-02-how-to-contribute-to-the-cdk">
			Part 2 – contributing code to the CDK
		</a>
	</li>
	<li>
		<a href="/cdk-tips-03-how-to-unblock-cross-stack-references">
			Part 3 – how to unblock cross-stack references
		</a>
	</li>
	<li>
		<a href="/cdk-tips-04-how-to-migrate-from-cloudformation-to-cdk">
			Part 4 – how to migrate from CloudFormation to the CDK
		</a>
	</li>
	<li>
		<a href="/cdk-tips-05-have-a-stack-instance-per-deployed-stack">
			Part 5 – have a Stack instance per deployed stack
		</a>
	</li>
</ul>

<hr class="parts-separator">

    {{{ contents }}}

<hr class="parts-separator">

<p>
	This article is part of a series on working with the
	<a href="https://github.com/aws/aws-cdk" target="_blank">Cloud Development Kit</a>:
</p>

<ul>
	<li>
		<a href="/cdk-tips-01-how-to-use-local-cdk-commands">
			Part 1 – local CLI version
		</a>
	</li>
	<li>
		<a href="/cdk-tips-02-how-to-contribute-to-the-cdk">
			Part 2 – contributing code to the CDK
		</a>
	</li>
	<li>
		<a href="/cdk-tips-03-how-to-unblock-cross-stack-references">
			Part 3 – how to unblock cross-stack references
		</a>
	</li>
	<li>
		<a href="/cdk-tips-04-how-to-migrate-from-cloudformation-to-cdk">
			Part 4 – how to migrate from CloudFormation to the CDK
		</a>
	</li>
	<li>
		<a href="/cdk-tips-05-have-a-stack-instance-per-deployed-stack">
			Part 5 – have a Stack instance per deployed stack
		</a>
	</li>
</ul>
