---
layout: article.html
---

<p>
	This post is part of a series of articles on working with the Git source control system.
</p>

<ol>
	<li>
		{{#if (notEqual id 7)}}
		<a href="/gitflow-considered-harmful">
		{{/if}}

			GitFlow considered harmful

		{{#if (notEqual id 7)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 8)}}
		<a href="/follow-up-to-gitflow-considered-harmful">
		{{/if}}

			Follow-up to 'GitFlow considered harmful'

		{{#if (notEqual id 8)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 27)}}
		<a href="/oneflow-a-git-branching-model-and-workflow">
		{{/if}}

			OneFlow – a Git branching model and workflow

		{{#if (notEqual id 27)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 57)}}
		<a href="/implementing-oneflow-on-github-bitbucket-and-gitlab">
		{{/if}}

			Implementing OneFlow on GitHub, BitBucket and GitLab

		{{#if (notEqual id 57)}}
		</a>
		{{/if}}
	</li>
</ol>

<hr class="parts-separator">

{{{ contents }}}

<hr class="parts-separator">

<p>
	This post is part of a series of articles on working with the Git source control system.
</p>

<ol>
	<li>
		{{#if (notEqual id 7)}}
		<a href="/gitflow-considered-harmful">
		{{/if}}

			GitFlow considered harmful

		{{#if (notEqual id 7)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 8)}}
		<a href="/follow-up-to-gitflow-considered-harmful">
		{{/if}}

			Follow-up to 'GitFlow considered harmful'

		{{#if (notEqual id 8)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 27)}}
		<a href="/oneflow-a-git-branching-model-and-workflow">
		{{/if}}

			OneFlow – a Git branching model and workflow

		{{#if (notEqual id 27)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 57)}}
		<a href="/implementing-oneflow-on-github-bitbucket-and-gitlab">
		{{/if}}

			Implementing OneFlow on GitHub, BitBucket and GitLab

		{{#if (notEqual id 57)}}
		</a>
		{{/if}}
	</li>
</ol>
