---
layout: article.html
---

<p>
	This article is part of a tutorial on GraalVM's Truffle language implementation framework.
</p>

<ul>
	<li>
		{{#if (notEqual id 48)}}
		<a href="/graal-truffle-tutorial-part-0-what-is-truffle">
		{{/if}}

			Part 0 – what is Truffle


		{{#if (notEqual id 48)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 50)}}
		<a href="/graal-truffle-tutorial-part-1-setup-nodes-calltarget">
		{{/if}}

			Part 1 – setup, Nodes, CallTarget

		{{#if (notEqual id 50)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 52)}}
		<a href="/graal-truffle-tutorial-part-2-introduction-to-specializations">
		{{/if}}

			Part 2 – introduction to specializations

		{{#if (notEqual id 52)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 54)}}
		<a href="/graal-truffle-tutorial-part-3-specializations-with-truffle-dsl-typesystem">
		{{/if}}

			Part 3 – specializations with Truffle DSL, TypeSystem

		{{#if (notEqual id 54)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 56)}}
		<a href="/graal-truffle-tutorial-part-4-parsing-and-the-trufflelanguage-class">
		{{/if}}

			Part 4 – parsing, and the TruffleLanguage class

		{{#if (notEqual id 56)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 58)}}
		<a href="/graal-truffle-tutorial-part-5-global-variables">
		{{/if}}

			Part 5 – global variables

		{{#if (notEqual id 58)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 60)}}
		<a href="/graal-truffle-tutorial-part-6-static-function-calls">
		{{/if}}

			Part 6 – static function calls

		{{#if (notEqual id 60)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 62)}}
		<a href="/graal-truffle-tutorial-part-7-function-definitions">
			{{/if}}

			Part 7 – function definitions

			{{#if (notEqual id 62)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 64)}}
		<a href="/graal-truffle-tutorial-part-8-conditionals-loops-control-flow">
			{{/if}}

			Part 8 – conditionals, loops, control flow

			{{#if (notEqual id 64)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 66)}}
		<a href="/graal-truffle-tutorial-part-9-performance-benchmarking">
		{{/if}}

			Part 9 – performance benchmarking

		{{#if (notEqual id 66)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 68)}}
		<a href="/graal-truffle-tutorial-part-10-arrays-read-only-properties">
		{{/if}}

			Part 10 – arrays, read-only properties

		{{#if (notEqual id 68)}}
		</a>
		{{/if}}
	</li>
</ul>

<hr class="parts-separator">

    {{{ contents }}}

<hr class="parts-separator">

<p>
	This article is part of a tutorial on GraalVM's Truffle language implementation framework.
</p>

<ul>
	<li>
		{{#if (notEqual id 48)}}
		<a href="/graal-truffle-tutorial-part-0-what-is-truffle">
		{{/if}}

			Part 0 – what is Truffle


		{{#if (notEqual id 48)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 50)}}
		<a href="/graal-truffle-tutorial-part-1-setup-nodes-calltarget">
		{{/if}}

			Part 1 – setup, Nodes, CallTarget

		{{#if (notEqual id 50)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 52)}}
		<a href="/graal-truffle-tutorial-part-2-introduction-to-specializations">
		{{/if}}

			Part 2 – introduction to specializations

		{{#if (notEqual id 52)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 54)}}
		<a href="/graal-truffle-tutorial-part-3-specializations-with-truffle-dsl-typesystem">
		{{/if}}

			Part 3 – specializations with Truffle DSL, TypeSystem

		{{#if (notEqual id 54)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 56)}}
		<a href="/graal-truffle-tutorial-part-4-parsing-and-the-trufflelanguage-class">
		{{/if}}

			Part 4 – parsing, and the TruffleLanguage class

		{{#if (notEqual id 56)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 58)}}
		<a href="/graal-truffle-tutorial-part-5-global-variables">
		{{/if}}

			Part 5 – global variables

		{{#if (notEqual id 58)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 60)}}
		<a href="/graal-truffle-tutorial-part-6-static-function-calls">
		{{/if}}

			Part 6 – static function calls

		{{#if (notEqual id 60)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 62)}}
		<a href="/graal-truffle-tutorial-part-7-function-definitions">
			{{/if}}

			Part 7 – function definitions

			{{#if (notEqual id 62)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 64)}}
		<a href="/graal-truffle-tutorial-part-8-conditionals-loops-control-flow">
			{{/if}}

			Part 8 – conditionals, loops, control flow

			{{#if (notEqual id 64)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 66)}}
		<a href="/graal-truffle-tutorial-part-9-performance-benchmarking">
		{{/if}}

			Part 9 – performance benchmarking

		{{#if (notEqual id 66)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 68)}}
		<a href="/graal-truffle-tutorial-part-10-arrays-read-only-properties">
		{{/if}}

			Part 10 – arrays, read-only properties

		{{#if (notEqual id 68)}}
		</a>
		{{/if}}
	</li>
</ul>
