---
layout: article.html
---

<p>
	This article is part of a tutorial on GraalVM's Truffle language implementation framework.
</p>

<ul>
	<li>
		{{#if (notEqual id 48)}}
		<a href="/graal-truffle-tutorial-part-0-what-is-truffle">
		{{/if}}

			Part 0 – what is Truffle


		{{#if (notEqual id 48)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 50)}}
		<a href="/graal-truffle-tutorial-part-1-setup-nodes-calltarget">
		{{/if}}
			
			Part 1 – setup, Nodes, CallTarget
		
		{{#if (notEqual id 50)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 52)}}
		<a href="/graal-truffle-tutorial-part-2-introduction-to-specializations">
		{{/if}}
			
			Part 2 – introduction to specializations
		
		{{#if (notEqual id 52)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 54)}}
		<a href="/graal-truffle-tutorial-part-3-specializations-with-truffle-dsl-typesystem">
		{{/if}}
			
			Part 3 – specializations with Truffle DSL, TypeSystem
		
		{{#if (notEqual id 54)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 56)}}
		<a href="/graal-truffle-tutorial-part-4-parsing-and-the-trufflelanguage-class">
		{{/if}}
			
			Part 4 – parsing, and the TruffleLanguage class
		
		{{#if (notEqual id 56)}}
		</a>
		{{/if}}
	</li>
</ul>

<hr class="parts-separator">

    {{{ contents }}}

<hr class="parts-separator">

<p>
	This article is part of a tutorial on GraalVM's Truffle language implementation framework.
</p>

<ul>
	<li>
		{{#if (notEqual id 48)}}
		<a href="/graal-truffle-tutorial-part-0-what-is-truffle">
		{{/if}}

			Part 0 – what is Truffle


		{{#if (notEqual id 48)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 50)}}
		<a href="/graal-truffle-tutorial-part-1-setup-nodes-calltarget">
		{{/if}}
			
			Part 1 – setup, Nodes, CallTarget
		
		{{#if (notEqual id 50)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 52)}}
		<a href="/graal-truffle-tutorial-part-2-introduction-to-specializations">
		{{/if}}
			
			Part 2 – introduction to specializations
		
		{{#if (notEqual id 52)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 54)}}
		<a href="/graal-truffle-tutorial-part-3-specializations-with-truffle-dsl-typesystem">
		{{/if}}
			
			Part 3 – specializations with Truffle DSL, TypeSystem
		
		{{#if (notEqual id 54)}}
		</a>
		{{/if}}
	</li>

	<li>
		{{#if (notEqual id 56)}}
		<a href="/graal-truffle-tutorial-part-4-parsing-and-the-trufflelanguage-class">
		{{/if}}
			
			Part 4 – parsing, and the TruffleLanguage class
		
		{{#if (notEqual id 56)}}
		</a>
		{{/if}}
	</li>
</ul>
